<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="layouts/admin :: cabecera_usuario"></th:block>
    <title>Pabluki's Bakery | Perfil Administrador</title>
    <link th:href="@{/css/estilosAdmin.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div th:replace="layouts/admin :: datos_usuario">
            </div>
            <div th:replace="layouts/admin :: barra_usuario">
            </div>
            <div></div>
            <div class="inicial">
                <div class="page">
                    <form th:action="@{/admin/guardar}" th:object="${administrador}" method="post" id="usuarioForm">
                        <div class="izquierda">
                            <h1>Datos Personales: </h1>
                                <div class="input-container">
                                    <p>Nombres: </p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-user"></i>
                                        <input th:field="*{nombre_a}" type="text" class="form-control" placeholder="Ingrese nombre" 
                                               id="nombre_admin" required/>
                                      </div>
                                </div>
                                <div class="input-container">
                                    <p>Apellidos: </p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-user"></i>
                                        <input th:field="*{apellido_a}" type="text" class="form-control" placeholder="Ingrese apellidos" 
                                               id="apellido_a" required/>
                                      </div>
                                </div>
                                <div class="input-container">
                                    <p>Tipo de Documento: </p>
                                    <label><i class="fa-solid fa-address-card"></i>DNI</label>
                                </div>
                                <div class="input-container">
                                    <p>Número de DNI: </p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-id-card"></i>
                                        <input th:field="*{id_admin}" type="text" class="form-control" 
                                               id="id_admin" placeholder="Número de DNI" required pattern="\d{8}" title="El DNI debe contener 8 dígitos"/>
                                    </div>
                                </div>
                            <br><br>
                            <p><i class="fa-solid fa-circle-exclamation"></i> Si deseas añadir otro administrador, dirigete a Opciones. </p>
                        </div>
                        <div class="derecha">
                            <h1>Datos de Contacto: </h1>
                            <form>
                                <div class="input-container">
                                    <p>Correo: </p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-envelope"></i>
                                        <input th:field="*{correo_a}" type="email" class="form-control" placeholder="Ingrese correo"
                                               id="correo_a" required/>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <p>Contraseña</p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-lock"></i> 
                                        <input th:field="*{password_a}" type="text" placeholder="Ingrese su contraseña" id="password_a" 
                                        required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" 
                                        title="La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, un número y un carácter especial."/>
                                    </div>
                                </div>
                                
                                
                                <div th:if="${mensaje != null}" role="alert" id="mensaje_cambio">
                                    <strong>Mensaje!</strong> <span th:text="${mensaje}"></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Añadir Administrador</button>
                            
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>