<!DOCTYPE html>
<html lang="es">
<head>
    <th:block th:include="layouts/usuarios :: cabecera_usuario"></th:block>
    <title>Pabluki's Bakery | Perfil Cliente</title>
    <link th:href="@{/css/estilosPerfil.css}" rel="stylesheet">
    <link th:href="@{/css/estilosTablas.css}" rel="stylesheet">   
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="container">
        <div class="content">
            <div th:replace="layouts/usuarios :: datos_usuario">
            </div>
            <div th:replace="layouts/usuarios :: barra_usuario">
            </div>
            <div class="">
                <div class="page">
                    <div id="primeraseccion">
                        <h1>Boletas generadas: </h1>
                        <button class="btn btn-primary" onclick="toggleSections()">Ver Gráficos</button>
                   </div>
                     <div id="segundaseccion">
                        <div id="filter-section">
                            <form th:action="@{/usuario/historial}" method="GET">
                                <div>
                                    <label for="mes">Filtrar por mes:</label>
                                    <select id="mes" name="mes" class="form-control">
                                        <option value="">Seleccione un mes</option>
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="anio">Filtrar por año:</label>
                                    <select id="anio" name="anio" class="form-control">
                                        <option value="">Seleccione un año</option>
                                        <option th:each="year : ${años}" th:value="${year}" th:text="${year}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </form>
                        </div>
                    
                    </div>
                    <div id="tercera_seccion">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>ID de Boleta</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Método de Pago</th>
                                    <th>Dedicatoria</th>
                                    <th>Cantidad</th>
                                    <th>ID de Entrega Producto</th>
                                    <th>DNI del Cliente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${listaBoleta}">
                                    <td th:text="${item.id_boleta}"></td>
                                    <td th:text="${item.fecha_boleta}"></td>
                                    <td th:text="${item.total_boleta}"></td>
                                    <td th:text="${item.metpago_boleta}"></td>
                                    <td th:text="${item.dedicatoria}"></td>
                                    <td th:text="${item.cantidad_bol}"></td>
                                    <td th:text="${item.tipoenvio.tipo_e}"></td>
                                    <td th:text="${item.cliente.dni}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="cuarta_seccion" style="display: none;">
                        <div id="grafico">
                            <canvas id="graficoBarras" width="400" height="80"></canvas>

                           <script th:inline="javascript">
                            var labels = JSON.parse(/*[[${labelsJson}]]*/ "[]");
                            var values = JSON.parse(/*[[${valuesJson}]]*/ "[]");
                            console.log("Labels:", labels);
                            console.log("Values:", values);

                            if (labels.length > 0 && values.length > 0) {
                                var ctx = document.getElementById('graficoBarras').getContext('2d');

                                var chart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels, 
                                        datasets: [{
                                            label: 'Cantidad de Boletas',
                                            data: values,  
                                            backgroundColor: '#f8d3dc',
                                            borderColor: '#e85e7c',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        scales: {
                                            x: {
                                                type: 'category',
                                                ticks: {
                                                    autoSkip: false  
                                                }
                                            },
                                            y: {
                                                beginAtZero: true,
                                                suggestedMax: Math.max(...values) + 5 
                                            }
                                        },
                                        barThickness: 30,
                                        categoryPercentage: 0.8, 
                                        barPercentage: 0.9  
                                    }
                                });
                            } else {
                                console.error("Los datos no están correctos:", labels, values);
                            }
                        </script>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function toggleSections() {
        var terceraSeccion = document.getElementById('tercera_seccion');
        var cuartaSeccion = document.getElementById('cuarta_seccion');

        if (terceraSeccion.style.display !== 'none') {
            terceraSeccion.style.display = 'none';  
            cuartaSeccion.style.display = 'block';  
        } else {
            terceraSeccion.style.display = 'block';
            cuartaSeccion.style.display = 'none';
        }
    }
   
</script>

</html>