<!DOCTYPE html>
<html lang="es">
<head>
    <th:block th:include="layouts/usuarios :: cabecera_usuario"></th:block>
    <title>Pabluki's Bakery | Perfil Cliente</title>
    <link th:href="@{/css/estilosPerfil.css}" rel="stylesheet">
    <link th:href="@{/css/estilosTablas.css}" rel="stylesheet">   
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="container">
        <div class="content">
            <div th:replace="layouts/usuarios :: datos_usuario">
            </div>
            <div th:replace="layouts/usuarios :: barra_usuario">
            </div>
            <div class="">
                <div class="page">
                        
                        <form th:action="@{/usuario/guardar}" th:object="${cliente}" method="post" id="usuarioForm">
                            <div class="izquierda"> 

                                <h1>Cambiar Contraseña:</h1>
                                <input th:field="*{nombre}" type="hidden" id="nombre_usuario" required readonly/>
                                <input th:field="*{apellido}" type="hidden" id="apellido_usuario" required readonly/>
                                <input th:field="*{dni}" type="hidden" id="dni_usuario" required readonly/>
                                <input th:field="*{correo}" type="hidden" id="correo_usuario" required readonly/>
                                <input th:field="*{telefono}" type="hidden" id="telefono_usuario" required readonly/>
                        
                                <select th:field="*{distrito}" class="hidden-select" required>
                                    <option value="" disabled selected>Seleccione su distrito:</option>
                                    <option value="ancón">Ancón</option>
                                    <option value="ate">Ate</option>
                                    <option value="barranco">Barranco</option>
                                    <!-- Resto de opciones -->
                                </select>
                        
                                <input th:field="*{direccion}" type="hidden" id="direccion_usuario" required/>
                        
                                <div class="input-container">
                                    <p>Ingrese su nueva contraseña</p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-lock"></i> 
                                        <input th:field="*{password}" type="password" placeholder="Ingrese su contraseña" id="password_usuario" 
                                        required 
                                        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" 
                                        title="La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, un número y un carácter especial."/>
                                    </div>
                                </div>
                                
                                <div class="input-container">
                                    <p>Confirme su nueva contraseña</p>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-lock"></i> 
                                        <input 
                                            type="password" 
                                            placeholder="Confirme su contraseña" 
                                            id="confirm_password" 
                                            required 
                                            oninput="validatePassword()"  
                                            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" 
                                            title="La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, un número y un carácter especial."
                                        />
                                    </div>
                                    <span id="password_error" style="color: red; display: none;">Las contraseñas no coinciden</span>
                                </div>
                                
                                <script>
                                    function validatePassword() {
                                        const password = document.getElementById("password_usuario").value;
                                        const confirmPassword = document.getElementById("confirm_password").value;
                                        const errorSpan = document.getElementById("password_error");
                                
                                        if (password !== confirmPassword) {
                                            errorSpan.style.display = "block";
                                            return false; 

                                        } else {
                                            errorSpan.style.display = "none";
                                            return true;

                                        }
                                    }
                                </script>
                            <button class="editarUsuario" type="submit"><i class="fa-solid fa-floppy-disk"></i> Editar Contraseña</button>                                
                            </div>
                            <div class="siguientelado">
                                <img th:src="@{/img/image.png}" alt="imagen_torta" class="logo">
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>