<!DOCTYPE html>
<html lang="es">
<head>
    <th:block th:include="layouts/usuarios :: cabecera_usuario"></th:block>
    <title>Pabluki's Bakery | Perfil Cliente</title>
    <link th:href="@{/css/estilosPerfil.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
            <div th:replace="layouts/usuarios :: datos_usuario">
            </div>
            <div th:replace="layouts/usuarios :: barra_usuario">
            </div>
            <div class="">
                <div class="page">
                </div>
            </div>
        </div>
    </div>
</body>
</html>