
.page {
    position: relative;
    margin-left: -1430px;  /* Esto está desplazando mucho el contenido a la izquierda */
    margin-top: 7vw;
    text-align: left;
    height: 30vw;
    flex-direction: column;
    display: flex;
}

.page
{
    flex-direction: column;
    overflow-x: auto; 
}
.page h1
{
    font-family: 'Lobster Two';
}
#primeraseccion
{
    display: flex;
    align-items: center;
}
#primeraseccion button
{
    margin-left: 1vw ;
    height: 2vw;
    width: auto;
    padding: 0px 1.2vw ;
    background-color: #f8d3dc;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    border: transparent;
    border-radius: 0.5vw;
    font-size: 0.8vw;
}
.cambiar
{
    margin-left: 34vw;
}
.cambiar_vela
{
    margin-left: 43vw;
}
.cambiar_vela button a, #primeraseccion button a
{
    text-decoration: none;
    color: #333;
}
#segundaseccion
{
    position: absolute;
    top: 5vw;
    width: auto;
    font-family:"Didact Gothic", sans-serif;  
}
#segundaseccion button
{
    height: 2vw;
    width: auto;
    padding: 0px 1.2vw ;
    background-color: #f8d3dc;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    border: transparent;
    border-radius: 0.5vw;
    font-size: 0.8vw;
    margin-bottom: 10px;
    margin-right: 3vw;
    margin-left: 7.6vw;
}
#filter-section 
{
    margin-bottom: 0.1vw;
}
#filter-section form select
{
    margin-left: 1.4vw;
    margin-right: 1vw;
    background-color: #f3f1f1;
    border: none;
    width: 14vw;
    padding: 5px 5px;
    border-radius: 1vw;
}
#filter-section form button
{
    margin-top: -8px;
    margin-left: 0.5vw;
    margin-bottom: 20px;
}
.styled-table {
    position: absolute;
    top: 9vw;
    width: 97%;
    max-width: 100%; 
    border-collapse: collapse;
    margin-left: 0px;
    font-size: 16px;
    font-family:"Didact Gothic", sans-serif;  
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    table-layout: auto; 

    margin-right: 2vw;
}

.styled-table thead tr {
    background-color: #f8d3dc;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
    text-align: center;
    word-wrap: break-word;
    max-width: 150px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #e85e7c;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#grafico
{
    margin-top: 4vw;
    width: 100%;
    position: relative;
    z-index: 100; 
    overflow: visible;
}
.hidden-select {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.input-container
{
    font-family:"Didact Gothic", sans-serif;  

}
#password_error{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.editarUsuario
{
    height: 2vw;
    width: auto;
    padding: 0px 1.2vw ;
    background-color: #f8d3dc;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    border: transparent;
    border-radius: 0.5vw;
    font-size: 0.8vw;

    margin-left: 8.7vw;
    margin-top: 1.2vw;
}

#cuarta_seccion {
    height: 0;
    transition: visibility 0.3s, height 0.3s;
    margin-right: 100px;
}



.siguientelado
{
    margin-left: 3vw;
    margin-top: 2.4vw;
}
.siguientelado img
{
    height: 25vw;
    border-radius: 10%;
    margin-left: 5.5vw;
    border: 19px double pink ;
}
#form_editar button
{
    font-family: "Didact Gothic", sans-serif;
    margin-left: 1.5vw ;
    padding: 0.3vw 1.2vw ;
    background-color: #f8d3dc;
    border: transparent;
    border-radius: 0.5vw;
}
#form_edita_tortaer button
{
    font-family: "Didact Gothic", sans-serif;
    margin-left: 0.8vw ;
    padding: 0.3vw 1.2vw ;
    background-color: #f8d3dc;
    border: transparent;
    border-radius: 0.5vw;
}
#form_edita_tortaer input
{
    height: 1vw;
    width: 5vw;
}
#form_edita_vela input
{
    margin-left: 3.8vw;
    margin-right: 1.2vw;
    text-align: center;
}
#form_edita_vela button
{
    font-family: "Didact Gothic", sans-serif;
    padding: 0.3vw 1.2vw ;
    background-color: #f8d3dc;
    border: transparent;
    border-radius: 0.5vw;
}

#tablaBoletaAdmin
{
    top: 10.4vw !important;
}

.graficoBoleta
{
    margin-top: 6vw !important;
}

#botonCitas
{
    font-family: "Didact Gothic", sans-serif;
    padding: 0.3vw 0.7vw ;
    background-color: #f8d3dc;
    border: transparent;
    margin-left: 1vw;
    border-radius: 0.5vw;
}